.car_title{
    font-weight: bold;
    color: #3f51b5;
    padding-bottom:20px;
}


.car:hover{
    transform: scale(1.005);
    box-shadow: 0 1px 5px grey;
}

.car_profit.negative{
    color:red;
}

.car_profit.positive{
    color:blue;
}