.detailed_car{
    cursor:pointer;
}

.detailed_car:hover{
    transform: scale(1.005);
    box-shadow: 0 1px 5px grey;
}

.paddingLeft20Important{
    padding-left:20px !important;
}

.car_description tr{
    border:1px solid lightgrey;
}

.car_title{
    font-size:1.5rem;
}