.tab_selected{
    background-color:white !important;
}

.tab_deselected{
    background-color:darkgray !important;
}

.hide{
    display:none;
}

.lender_tab{
    border-radius: 10px 10px 0px 0px !important;
    margin-left:10px !important;
    border:solid 1px lightgray !important;
}

.filter_tab{
    border-radius: 10px 10px 0px 0px !important;
    border:solid 1px lightgray !important;
}

.left_panel{
    padding-top:10px;
}